<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <!-- Filter area -->
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text"
        [(ngModel)]= 'listFilter' />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <!-- Product Table -->
    <div class="table-responsive">
      <table class="table" *ngIf= 'products && products.length'>
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)= 'toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>

        <tbody>
          <!--this template bind to the filteredProducts property-->
          <tr *ngFor= 'let product of filteredProducts'>
            <td>
              <img *ngIf= 'showImage' [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'
              >
            </td>
            <td>{{product.productName}}</td>
            <!--add pipes for converting product code to lowercase, and a special character to space.
            then declare the custom pipe (convertToSpaces)
            in the app module declarations
            -->
            <td>{{product.productCode | lowercase | convertToSpaces: '-'}}</td>
            <td>{{product.releaseDate}}</td>
            <!-- currency pipe that implements the symbol and
            decimal places
            -->
            <td>{{product.price | currency:'GBP':'symbol':'1.2-2'}}</td>
            <td><pm-star></pm-star></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>